<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />

</head>
<body>
    <div>

        <h1> EFCC DarkEye </h1><hr><br>
        <h4> Welcome To EFCC DarkEye </h1>
    
        <p> You are seen this page, Because you
            solve The previous puzzle or you are a
            member of sadsec(a sec org started by
            a group of researchers and students)
        </p><br>
    
        <p> DarkEye is a secret program
            created by the Nigeria EFCC to
            Employ 10 Random people
            Around The World.
         </p>
        <br>
    
        <p>
            Member of the Sadsec org are giving the
            privilege to this secret program
            without having to solve a puzzle
            was due to their phenomenal contribution
            to the Country National Security in the
            past.
        </p>
    
    
        <h3> ANSWER IS IN HERE </H3>
                <p>
                <p>Hint</p>
                the HTTP headers are used to pass additional infomation between the clients and the server
                through the request and response header
                </p>
    
                <h3> Solution </h3>
                <form action="sadsec" method="post" autocomplete="off">
    
                <input type="text"  name="enter" placeholdee="flag">
                <input type="submit"  value="submit">
    
                </form>
    
    </div>
        
</body>
</html>
